body {
  background-color: #efefef;
  color: #202020;
}

h1 {
  text-align: center;
}

.language-switch {
  float: right;
  font-size: 300%;
  cursor: pointer;
  color: #666666;
}

.board table {
  border: 3px solid;
  border-spacing: 0px;
}
.board table td {
  border: 1px solid;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  cursor: default;
  text-align: center;
}

@extend %board;#board table {
  margin: 2em;
  border-collapse: separate;
  border-color: #c8c8c8;
}
#board table td {
  border-color: #c8c8c8;
  color: black;
}
@media screen and (min-width: 1024px) {
  #board table td {
    font-size: 120%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #board table td {
    font-size: 120%;
  }
}
@media screen and (max-width: 767px) {
  #board table td {
    font-size: 80%;
  }
}
#board table td.guess {
  color: #009900;
  cursor: pointer;
}
#board table td.error {
  color: red;
  border-color: red;
}
#board table.error {
  color: red;
  border-color: red;
}

@extend %board;#board-success table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  #board-success table td {
    font-size: 90%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #board-success table td {
    font-size: 90%;
  }
}
@media screen and (max-width: 767px) {
  #board-success table td {
    font-size: 60%;
  }
}

.footer {
  text-align: center;
  color: dimgray;
  font-size: 60%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.footer a {
  color: dimgray;
}
.footer a :hover {
  text-underline-position: below;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  display: block;
}
.overlay .overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .overlay .overlay-content {
    top: 1em;
  }
}
